@media (max-width:380px) {
    .main {
        margin-top: 96px;
    }
}
.welcome {
    background-color: #EDF2EC;
    &__wrapper {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        padding:0 109px;
        background-image: url("../../../images/photos/leafs.png");
        background-repeat: no-repeat;
        background-position: top 62px left 109px;
        background-size: 448.8px 407.36px;
        @media (max-width:1300px) {
            & {
                padding:0 70px;
                background-position: top 62px left 70px;
                background-size: auto auto;
            }
        }
        @media (max-width:768px) {
            & {
            justify-content: flex-start;
            padding: 0 50px;
            background-position: top 20px right 50px;
            background-size: 280px 254px;
        }
        }
        @media (max-width:380px) {
            & {
                justify-content: flex-start;
                padding: 10px 25px 0 25px;
                background:none;
        }
        }
    }
    &__info {
        display:flex;
        flex-direction: column;
        padding:68px 0 94px 0;
        max-width:549px;
        @media (max-width:768px) {
            & {
            padding: 0 0 70px 0;
            max-width:346px;
        }
        }
        @media (max-width:380px) {
            & {
                padding: 0 0 24px 0;
                max-width:330px;
            }
        }
    }
    
}
.info-welcome {
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        color: #717171;
        padding-bottom: 14px;
        @media (max-width:768px) {
            & {
                font-size: 35px;
                padding-bottom:10px;
            }
        }
        @media (max-width:380px) {
            & {
                font-size: 25px;
                line-height: 35px;
                padding-bottom:4px;
                }
        }
        & span {
            color: #499A18;
        }
    }
    
    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        color: #636060;
        padding-bottom:47px;
        @media (max-width:768px) {
            & {
                font-size: 16px;
                line-height: 25px;
                padding-bottom:30px;
                padding-left:5px;
            }
        }
        @media (max-width:380px) {
            & {
                padding-bottom:24px;
                padding-left:0;
            }
        
        }
    }
    
    &__button {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        border: 2px solid #E06733;
        border-radius: 10px;
        padding:10px 26px;
        width: fit-content;
        text-transform: uppercase;
        cursor:pointer;
        background-color: transparent;
        &:hover {
            background-color: #E06733;
            color:#fff;
            transition: all 0.5s linear;
        }
        @media (max-width:380px) {
            & {
                font-size: 10px;
                padding:5px 15px;
            }
            &:focus {
                background-color: #E06733;
                color:#fff;
                transition: all 0.5s linear;
            }
        }
    
    }
        
}
